/* services */
.Services {
  padding: 5rem 0;
}
.Services {
  background: var(--darkGrey);
  text-align: center;
}
.ServicesCenter {
  width: 90vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 50px;
}
.Service span {
  display: inline-block;
  color: var(--primaryColor);
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}
.Services h6 {
  letter-spacing: var(--mainSpacing);
  text-transform: capitalize;
}
.Services p {
  width: 80%;
  margin: 0 auto;
}
@media screen and (min-width: 992px) {
  .ServicesCenter {
    width: 95vw;
    max-width: 1170px;
  }
}

@media screen and (min-width: 1200px) {
  .Services p {
    width: 100%;
  }
}
/*end of services */
