/* room */
.Room {
  box-shadow: var(--lightShadow);
  transition: var(--mainTransition);
}
.Room:hover {
  box-shadow: var(--darkShadow);
}

.ImgContainer {
  position: relative;
}
.ImgContainer img {
  width: 100%;
  display: block;
  transition: var(--mainTransition);
}
.PriceTop {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  color: var(--mainWhite);
  padding: 0.3rem 0.6rem 0.5rem;
  border-bottom-right-radius: 1rem;
  font-size: 0.5rem;
  text-align: center;
  transition: var(--mainTransition);
}
.PriceTop h6 {
  margin-bottom: 0;
  font-size: 0.9rem;
  font-weight: 300;
  letter-spacing: var(--mainSpacing);
}
.RoomLink {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(0);
  transition: all 0.3s linear;
}
.ImgContainer:hover {
  background: rgba(0, 0, 0, 0.8);
}
.ImgContainer:hover img {
  opacity: 0.3;
}
.ImgContainer:hover .PriceTop {
  opacity: 0;
}
.ImgContainer:hover .RoomLink {
  transform: translate(-50%, -50%) scale(1);
}
.RoomInfo {
  background: var(--darkGrey);
  text-transform: capitalize;
  padding: 0.5rem 0;
  text-align: center;
  font-weight: 700;
  letter-spacing: var(--mainSpacing);
}
/* end of Room  */
